{extend name='admin@/public/table_basic'}
<!--css区域-->
{block mame='css'}{/block}

<!--body区域-->
{block name='content'}
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12 text-right" style="margin-bottom: 10px">
            <a class="btn btn-primary" href="/admin/art/create">添加文章</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>文章管理</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="table_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项1</a>
                            </li>
                            <li><a href="#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>标题</th>
                            <th>栏目</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach $list as $val}
                        <tr>
                            <td>{$val.id}</td>
                            <td>{$val.title}</td>
                            <td>{$val->catesConnect['cate_name']?$val->catesConnect['cate_name']:'null'}</td>
                            <td><a class='del_btn' href="/admin/art/{$val.id}">删除</a>|<a
                                    href="/admin/art/{$val.id}/edit">编辑</a></td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>

            <!--            分页-->
            <div class="col-sm-12">
                <div class="text-right">
                    {$list|raw}
                </div>

            </div>


        </div>
    </div>
</div>
{/block}

<!--js区域-->
{block name='js'}
<script>
    $('.del_btn').click(function () {
        var url = $(this).attr('href');
        $.ajax({
            url: url,
            type: 'DELETE',
            success: function (ret) {
                if (ret.status !== 0) {
                    // 删除失败
                    console.log(ret.msg);
                }
                // 删除成功
                console.log(ret.msg);
                // 刷新页面
                window.location.reload()
            }
        });
        return false;
    });
</script>
{/block}